.btn-group {
  position: absolute; //絕對座標
  top: 7rem;
  width: 40vh;
}

.studentTable {
  position: absolute; //絕對座標
  top: 12rem;
  width: 100vh;
  padding: 1rem;
  min-height: 60vh;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem; //圓角
}
