* {
  //所有物件 border-box  margin padding都設定為0
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.page {
  background-color: lightgray;
  height: 89.5vh;
  // display: flex;
  // justify-content: center; //水平置中
  //align-items: center; //垂直置中
}

@import "./nav";
@import "./footer";
@import "./home";
@import "./register";
@import "./student";
@import "./course";
